.bere{
position:absolute;
background-color:#ffffff;
height:1024px;
width:1440px;
padding:0px;
}
.fabio-alves-_flgxjacz5k-unsplash1{
height:1024px;
width:1440px;
position:absolute;
top:0px;
left:0px;
}
.bere2{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
line-height:auto;
border-style:hidden;
outline:none;
left:693px;
top:21px;
position:absolute;
width:54px;
}
.beredraft-halbabergenbier{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:124px;
width:1388px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.beredraft-paharbergenbier{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:158px;
width:1388px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.beredraft-halbabecks{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:192px;
width:1388px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.beredraft-paharbecks{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:226px;
width:1388px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.berebecks{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:260px;
width:1388px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.berebecks{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:294px;
width:1388px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.berestelllaartois{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:328px;
width:1388px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.berestelllaartois{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:362px;
width:1388px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.berestaropramen{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:395px;
width:1388px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.berestaropramen{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:429px;
width:1388px;
height:25px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.berebergembier{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:464px;
width:1388px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.berebergembier{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:498px;
width:1388px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.berestaropramendark{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:532px;
width:1388px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.beref.astellaartois{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:565px;
width:1388px;
height:25px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.beref.abergenbier{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:600px;
width:1388px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.berecorona{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:634px;
width:1388px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.freshfamar_para{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:668px;
width:1388px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.freshf.azmeura_afine{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:702px;
width:1388px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.freshfalemon_orange{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:736px;
width:1388px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.zareahugo{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:770px;
width:1388px;
height:25px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.zareaspitz{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:805px;
width:1388px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.vector{
background-color:#eee4e4;
height:32px;
width:30px;
left:29px;
top:25px;
position:absolute;
}
