.ciorbe{
       position:absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       background-color:#ffffff;
       height:1024px;
       width:1440px;
       padding:0px;
}
.max-griss-ctonem70cve-unsplash1{
height:1024px;
width:1440px;
position:absolute;
top:0px;
left:0px;
}
.ciorbe{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
line-height:auto;
border-style:hidden;
outline:none;
left:683px;
top:27px;
position:absolute;
width:71px;
}
.ciorbadefasoleboabecuciolanafumatsiceapa{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:210px;
width:1392px;
height:25px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.ciorbadeburtacusmantanasiardeiiute{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:291px;
width:1385px;
height:22px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.ciorbataraneascadeporc{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:367px;
width:1377px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.ciorbaardeleneascadeporc{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:445px;
width:1386px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.fasoleboabe_legume_sare_piper_tarhon_ciolanafumat_bulion{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:245px;
width:1399px;
height:26px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line86{
width:639px;
transform:rotate(0deg);
border:1px solid #ffffff;
top:281px;
left:23px;
position:absolute;
}
.burtavita_rasoldevita_morcovi_gogosari_usturoi_smantana_ou_sare_piper{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:323px;
width:1399px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line88
{
width:784px;
transform:rotate(0deg);
border:1px solid #ffffff;
top:357px;
left:23px;
position:absolute;
}
.fasoleverde_pulpadeporc_ardei_varza_morcovi_telina_patrunjel_bulion_sare_piper{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:401px;
width:1399px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line90
{
width:873px;
transform:rotate(0deg);
border:1px solid #ffffff;
top:435px;
left:23px;
position:absolute;
}
.carneafumatadeporc_morcovi_ardei_patrunjel_telina_ou_smantana{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:479px;
width:1399px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line92{
width:710px;
transform:rotate(0deg);
border:1px solid #ffffff;
top:513px;
left:23px;
position:absolute;
}
.ciorbaradauteanadepui{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:523px;
width:1377px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.pieptdepui_morcovi_telina_patrunjel_ceapa_ou_smantana_patrunjelverde{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Damion;
left:23px;
top:557px;
width:1399px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.line93
{
width:760px;
transform:rotate(0deg);
border:1px solid #ffffff;
top:591px;
left:23px;
position:absolute;
}
.vector
{
background-color:#eee4e4;
height:32px;
width:30px;
left:29px;
top:25px;
position:absolute;
}
